body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .contact {
        flex: 1;
        display: flex;
        background-image: $background-radiant-boby;
        justify-content: center;
        padding: 1.6em;



        &__form {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding-top: 1em;
            padding-bottom: 2em;
            flex: 1;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            > div, h1 {
                flex-grow: 1;
                width: 80%;
                font-size: 1.5em;
            }

            &__label {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                label{
                    width:35%;
                    text-align:right;
                }
            }

            > div {
                input {
                    width: 60%;
                    padding: 0px;
                    border: 1px solid black;
                    min-height:20px;
                }

                textarea {
                    width: 60%;
                    padding: 0px;
                    border: 1px solid black;
                    min-height:70px;
                }
            }


            .validation_formulaire {
                @include button-submit;
                width: 40%;
                padding:0.6em;
                margin-top:1em;
                height:15%;

            }
        }
    }

    footer {
    }
}
