#body_contact {
    background-image: $background-radiant-boby;

    #main_contact {
        @media (min-width: 767px) {
            background-image: $background-radiant-boby;
            width: 100%;
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }


    .contact {
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 1.6em;

        @media (min-width: 767px) {
            padding: 0px;
        }


        &__form {
            display: flex;
            flex-direction: column;
            background-color: white;
            text-align: center;
            align-items: center;
            padding-bottom: 2em;
            flex: 1;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            @media (min-width: 767px) {
                flex: none;
                width: 70%;
            }

            > div {
                font-family: 'Shrikhand';
                flex-grow: 1;
                width: 80%;
                font-size: 1.5em;

                @media (min-width: 767px) {
                    width: 80%;
                }
            }

            h1 {
                font-family: 'Shrikhand';
                font-size: 1.4em;
                border-bottom: 4px solid $tretiary-color;
                width: 100%;
                margin: 0px;
                margin-bottom: 1em;
                padding: 1.3em 0em 1em 0em;
                border-radius: 25px 25px 0px 0px;
            }

            &__label {
                display: inline-flex;
                flex-direction: column;
                margin-bottom: 1.2em;
                padding-left: 2em;



                label {
                    text-align: left;

                    i {
                        color: $tretiary-color;
                        padding-right: 0.5em;
                    }
                }
            }

            > div {
                input {
                    width: 80%;
                    padding: 0.3em 0em 0.3em 0.5em;
                    border: 2px solid #FCFCF8;
                    border-radius: 15px;
                    box-shadow: $tretiary-color 0px 5px 15px;
                    min-height: 25px;


                    @media (min-width: 767px) {
                        height: 50px;
                        font-size: 0.75em;
                    }
                }


                textarea {
                    width: 80%;
                    padding: 0.3em 0em 0.3em 0.5em;
                    border: 2px solid #FCFCF8;
                    border-radius: 15px;
                    box-shadow: $tretiary-color 0px 5px 15px;
                    min-height: 90px;

                    @media (min-width: 767px) {
                        height: 50px;
                        font-size: 0.75em;
                        min-height: 150px;
                    }
                }
                /* hr {
                    width: 37%;
                    background: $tretiary-color;
                    border: none;
                    height: 2px;
                    margin: 0em 0em 0.3em 0em;
                }*/
                /*.message ~ hr {
                    width: 53%
                }*/
                input:focus {
                    background-color: lighten($primary-color,35%);
                }

                textarea:focus {
                    background-color: lighten($primary-color,35%);
                }
            }


            .validation_formulaire {
                @include button-submit;
                width: 40%;
                padding: 0.6em;
                margin-top: 1em;
                height: 15%;
            }
        }
    }

    #footer_contact {

        @media (min-width: 767px) {
            margin-left: 0px;

            h1, p {
                margin: 0px;
                padding: 0.5em 0em 0.5em 1em;
            }
        }

        @media (min-width: 979px) {
            padding:0em 0em 1em 0em;
        }
    }
}
