.header {

    &__principale {
        width: 100%;
        height: 2em;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 1em 0em;
        position: sticky;
        top: 0;
        z-index: 3;

        @include media-min("tablette") {
            height: 4em;
            padding: 0.2em 0em;
        }
    }

    &__logo {
        height: 26px;

        @include media-min("tablette") {
            height: 70%;
            margin: auto;
        }
    }
    /*&__menu {
        width: 100%;
        height: 2em;
        padding: 1.2em 0em;
        box-shadow: 0 4px 2px -2px gray;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 4;

        @include media-min("tablette") {
            height: 3.2em;
            padding: 0.5em 0em 0em 0em;
        }
    }

    &__formulaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0em 6em 0.3em 1.2em;

        @include media-min("tablette") {
            padding: 0.6em 4em 0.3em 1.2em;
        }




        &__buttonRetour {
            border: none;
            height: 30px;
            background-color: white;

            > i {
                font-size: 1.7em;

                @include media-min("tablette") {
                    font-size: 2.1em;
                }
            }
        }

        &__logo {
            width: 183px;

            @include media-between ("petit-mobile","tablette") {
                margin: auto;
            }

            @include media-min("tablette") {
                height: 40px;
                width: 300px;
                margin: auto;
            }
        }
    }*/
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__retour {
            text-decoration: none;
            width: 10%;
            text-align: center;

            i {
                color: black;
            }
        }


        &__logo {
            height: 2.8em;
            width: 90%;
            display: flex;
            justify-items: center;
            align-content: center;



            img {
                width: 30%;
                margin: auto;
            }
        }
    }
}
