.localisation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
    width: 100%;
    background-color: #f2f2f2;
    height: 50px;

    &__recherche {
        border: none;
        width: 60%;
        background-color: #f2f2f2;
    }

    &__button {
        border: none;
        width: 25%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.entreprise {

    &__presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2em;
        background-image: $background-radiant-boby;

        h1, p {
            padding: 0.2em 1em 0.2em 1em;
        }

        h1 {
            margin: 0.5em 0.2em 0.2em 0.2em;
        }

        p {
            margin: 0.4em;
        }

        button {
            @include button-submit
        }
    }

    &__fonctionnement {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2em;

        h1{
            justify-self:self-start;
        }

        ol {
            list-style: none;
            counter-reset: li;
            display: flex;
            flex-direction: column;
            padding: 3em;
        }

        li::before {
            content: counter(li);
            color: red;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 1.6em;
            min-height: 1.6em;
            background-color: $primary-color;
            border-radius: 50%;
            color: white;
            position: relative;
            right: 5%;
        }

        li {
            counter-increment: li;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color;
            border-radius: 15px;
            padding: 1em 2em 1em 0em;
            margin-bottom: 0.8em;
            font-size: 1.6em;

            i {
            }

            span{
            }
        }
    }
}


.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: #f2f2f2;

    h1 {
        padding-left: 0.9em;
    }

    &__vignettes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;

        &__detail {
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin-bottom: 1em;

            a {
                text-decoration: none;
                color: black;
            }

            &__image {
                width: 100%;
                object-fit: cover;
                height: 160px;
                position: relative;


                img {
                    width: 100%;
                    height: 160px;
                    position: absolute;
                    z-index: 1;
                    border-radius: 25px 25px 0px 0px;
                }

                &__new {
                    position: absolute;
                    z-index: 2;
                    left: 72%;
                    top: 10px;
                    width: 20%;
                    height: 15%;
                    min-width: 63px;
                    text-align: center;
                    color: darken($tretiary-color,40%);
                    background-color: $tretiary-color;

                    p {
                        margin: 5%;
                    }
                }
            }

            &__footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 1.6em;
                padding-right: 2.2em;

                &__hearth {

                    @include ajout-favori
                }
            }
        }
    }
}
