main {



    @media (min-width: 767px) {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .aside_desktop {

        @media (orientation: landscape) and (min-device-width : 670px) {
            position: relative;
        }

        @media (min-width: 767px) {
            width: 40.5%;
            background-color: $background-color;
            position: fixed;
        }

        @media (orientation: landscape) and (min-width: 767px) {
            position: relative;
            background-color: white;
        }

        @media (min-width: 1099px) {
            position: relative;
            width: 25%;
            font-size: 0.8em;
        }

        .localisation {
            display: flex;
            flex-direction: row-reverse;
            justify-content: stretch;
            width: 100%;
            background-color: #f2f2f2;
            height: 50px;

            @media (min-width: 767px) {
                height: 100px;
                justify-content: space-evenly;
            }

            &__recherche {
                border: none;
                width: 60%;
                background-color: #f2f2f2;

                @media (min-width: 767px) {
                    font-size: 1.2em;
                    padding-top: 0.3em;
                    width: 70%;
                }
            }

            &__button {
                border: none;
                width: 25%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                @media (min-width: 767px) {
                    justify-content: flex-start;
                    width: 12%;
                }

                i {
                    @media (min-width: 767px) {
                        font-size: 2.5em;
                    }
                }
            }
        }

        .entreprise {

            @media (min-width: 767px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 0.75em;
            }


            &__presentation {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 1em 1.2em 2em 1.2em;
                background-image: $background-radiant-boby;

                @media (min-width: 767px) {
                    padding: 0em 0.2em;
                }


                h1 {
                    padding: 0.2em 1.7em 0.2em 1.7em;
                    font-size: 1.5em;

                    @media (min-width: 767px) {
                        padding: 0em 0.2em;
                    }
                }

                p {
                    margin: 0.4em;
                    font-size: 1.2em;
                    font-family: RobotoThin;
                }

                button {
                    @include button-submit;

                    @media (min-width: 767px) {
                        width: 80%;
                        padding: 1em 0.2em;
                        margin-bottom: 1.5em;
                    }
                }
            }

            &__fonctionnement {
                display: flex;
                flex-direction: column;
                padding: 1.6em 1em 2em 1em;

                @media (min-width: 767px) {
                    padding: 1em 0.2em;
                    background-color: white;
                    align-self: stretch;
                }

                h1 {
                    padding-left: 1em;

                    @media (min-width: 767px) {
                        margin: 0.3em 0em;
                    }
                }

                ol {
                    list-style: none;
                    counter-reset: li;
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    text-align: left;

                    @media (min-width: 767px) {
                        margin-top: 0px;
                    }
                }

                li::before {
                    content: counter(li);
                    color: red;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 1.6em;
                    min-height: 1.6em;
                    background-color: $primary-color;
                    border-radius: 50%;
                    color: white;
                    position: relative;
                    right: 4%;
                }

                li {
                    counter-increment: li;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $background-color;
                    border-radius: 35px;
                    padding: 1em 1em 1em 0em;
                    margin-bottom: 0.8em;
                    font-size: 1.5em;

                    i {
                        min-width: 26px;
                        margin-right: 0.5em;
                        margin-left: 0.3em;
                        text-align: center;
                        color: lighten(#2D2929,25%);
                    }

                    span {
                        flex: 1;
                        font-size: 0.75em;
                    }
                }

                li:hover {
                    background-color: lighten($primary-color,35%);
                }

                li:hover i {
                    color: $primary-color;
                }
            }
        }
    }

    .contener_restaurant {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        background-color: #f2f2f2;
        padding-bottom: 3em;

        @media (min-width: 767px) {
            margin-left: 40.5%;
            padding-bottom: 0em;
        }

        @media (orientation: landscape) and (min-width: 767px) {
            margin-left: 0%;
        }



        @media (min-width: 1099px) {
            margin-left: 0px;
            width: 75%;
        }

        .restaurant {

            h1 {
                padding-left: 0.9em;

                @media (min-width: 979px) {
                    text-align: center;
                }
            }

            &__vignettes {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.2em;

                @media (min-width: 767px) {
                    padding-bottom: 0.2em;
                    font-size: 0.8em;
                }

                @media (min-width: 979px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 0.5em;
                }

                @media (min-width: 1200px) {
                    justify-content: space-evenly;
                }

                &__detail {
                    border-radius: 25px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    margin-bottom: 1.7em;

                    @media (min-width: 979px) {
                        width: 49%;
                    }

                    @media (min-width: 1200px) {
                        width: 40%;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    &__image {
                        width: 100%;
                        object-fit: cover;
                        height: 160px;
                        position: relative;

                        @media (min-width: 767px) {
                            height: 240px;
                        }

                        @media (min-width: 979px) {
                            height: 210px;
                        }

                        @media (min-width: 1200px) {
                            height: 310px;
                        }


                        img {
                            width: 100%;
                            height: 160px;
                            position: absolute;
                            z-index: 1;
                            border-radius: 25px 25px 0px 0px;

                            @media (min-width: 767px) {
                                height: 240px;
                            }

                            @media (min-width: 979px) {
                                height: 210px;
                            }

                            @media (min-width: 1200px) {
                                height: 310px;
                            }
                        }

                        &__new {
                            position: absolute;
                            z-index: 2;
                            left: 72%;
                            top: 10px;
                            width: 20%;
                            height: 15%;
                            min-width: 63px;
                            text-align: center;
                            color: darken($tretiary-color,40%);
                            background-color: $tretiary-color;

                            @media (min-width: 767px) {
                                top: 30px;
                                width: 28%;
                                height: 22%;
                                left: 64%;
                            }

                            @media (min-width: 979px) {
                                width: 30%;
                                left: 68%;
                                height: 15%;
                            }

                            @media (min-width: 1100px) {
                                width: 17%;
                                left: 75%;
                                height: 10%;
                            }

                            p {
                                margin: 5%;

                                @media (min-width: 767px) {
                                    margin: 12%;
                                }

                                @media (min-width: 979px) {
                                    margin: 9%;
                                    font-size: 0.75em;
                                }
                            }
                        }
                    }

                    &__footer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding-left: 1.6em;
                        padding-right: 2.2em;

                        @media (min-width: 979px) {
                            font-size: 0.8em;
                        }

                        @media (min-width: 767px) {
                            &__text {
                                h2 {
                                    margin: 0.3em 0em 0.3em 0em;
                                }

                                p {
                                    margin: 0.3em 0em 0.3em 0em;
                                }
                            }
                        }



                        &__hearth {
                            @include ajout-favori;

                            @media (min-width: 767px) {
                                font-size: 1.6em;
                            }
                        }
                    }
                }
            }
        }
    }
}
