#body_contact{
}

#main_menu {
    
}



#aside_menu {
    display: none;

    @media (min-width: 767px) {
        display: block;
        background-color: none;
    }

    @media (orientation: landscape) and (min-width: 767px) {
        background-color:white;
    }



    .entreprise__fonctionnement {
        @media (min-width: 767px) {
            font-size: 0.8em;

            h1 {
                font-size: 1.65em;
            }

            ol {
                font-size: 1.15em;

                li {
                    margin-bottom: 1em;
                }
            }
        }
    }
}


.menu {
    position: relative;
    z-index: 1;
    background: $background-color-light;

    @media (min-width: 767px) {
        width: 60%;
        margin-left: 40.5%;
        padding-top: 0px;
        font-size: 0.75em;
    }


    @media (orientation: landscape) and (min-width: 767px) {
        margin-left: 0%;
        width: 60%;
    }


    @media (min-width: 1200px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    > img {
        height: 260px;
        width: 100%;

        @media (min-width: 767px) {
            height: 300px;
        }

        @media (min-width: 1200px) {
            display: none;
        }
    }

    &__entete {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2.2em 2em 1em 1.9em;
        border-radius: 25px 25px 0px 0px;
        background: $background-color-light;
        position: relative;
        top: -35px;
        z-index: 2;

        @media (min-width: 1200px) {
            top: 0px;
            padding: 0em 2.8em 0em 2.8em;
        }

        &__titre {
            font-size: 1.4em;
        }

        &__label {
            @include ajout-favori
        }
    }

    &__formulaire {
        padding: 1em;
        background-color: $background-color-light;
        position: relative;
        top: -35px;
        flex: 1;

        @media (min-width: 1200px) {
            top: 0px;
            background-image: url(C:/MAMP/htdocs/P3_Huguenin/public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            background-size: cover;
        }


        form {
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 100%;
            }


            fieldset {
                border: none;
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                margin: auto;
                animation: affichageRalenti ease-in-out 2s;

                @media (min-width: 1200px) {
                    width: 28%;
                    color: white;
                }


                hr {
                    width: 10%;
                    background: $tretiary-color;
                    border: none;
                    height: 2px;
                    margin-left: 0em;

                    @media (min-width: 1200px) {
                        width: 25%;
                    }
                }

                .contener_label {
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 0.6em;
                    color: black;

                    @media (min-width: 1200px) {
                        margin-bottom: 1.6em;
                    }

                    label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        text-transform: none;
                        background-color: white;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        border-radius: 10px;

                        .menu__formulaire__input {
                            display: none;
                        }

                        .menu__formulaire__detail {
                            width: 80%;
                            max-width: 12em;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            transition: width 2s ease-out;

                            @media (max-width: 400px) {
                                max-width: 16em;
                            }

                            @media (min-width: 400px) and (max-width: 600px) {
                                max-width: 18em;
                            }

                            @media (min-width: 767px) {
                                max-width: 16em;
                            }
                        }

                        .menu__formulaire__detail__texte {
                            font-size: 1.2em;
                            margin: auto 0px auto 0.4em;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .menu__formulaire__prix {
                            flex: 1;
                            margin-bottom: 0.8em;
                            text-align: center;
                            font-weight: 900;
                            align-self: flex-end;
                            transition: width 2s ease-out;
                        }

                        .menu__formulaire__icone {
                            height: 100%;
                            width: 0%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0px 10px 10px 0px;
                            overflow: hidden;
                            background-color: aquamarine;
                            transition: width 2s ease-out;
                        }

                        .menu__formulaire__icone i {
                            color: white;
                            transform: rotate(0deg);
                            transition: transform 2s ease-in-out 500ms;
                        }


                        .menu__formulaire__input:checked ~ label {
                            justify-content: space-between;
                        }

                        .menu__formulaire__input:checked ~ .menu__formulaire__icone {
                            width: 25%;
                        }

                        .menu__formulaire__input:checked ~ .menu__formulaire__icone i {
                            transform: rotate(-360deg);
                        }



                        .menu__formulaire__input:checked ~ .menu__formulaire__detail {
                            width: 65%;
                        }

                        .menu__formulaire__input:checked ~ label .menu__formulaire__prix {
                            max-width: 4em;
                        }
                    }
                }
            }

            .validation_commande {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 1.1em;
                align-content: center;
                margin-bottom: 1em;

                @media (min-width: 1200px) {
                    width: 100%;
                }

                #button_commander {
                    margin: auto;
                    @include button-submit;

                    @media (min-width: 1200px) {
                        width: 15%;
                        height: 45px;
                        padding: 0em;
                    }
                }
            }
        }
    }
}
