.menu {
    position: relative;
    z-index: 1;

    > img {
        height: 260px;
        width: 100%;
    }

    &__entete {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2.2em 3.1em 1em 1.3em;
        background-color: $background-color;
        border-radius: 25px 25px 0px 0px;
        position: relative;
        top: -35px;
        z-index: 2;

        &__titre {
            font-size: 1.4em;
        }

        &__label {

            @include ajout-favori
        }
    }

    &__formulaire {
        padding: 0.3em;
        background-color: $background-color;
        position: relative;
        top: -35px;

        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
        }

        hr {
            width: 10%;
            background: $tretiary-color;
            border: none;
            height: 2px;
            margin-left: 0em;
        }

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            text-decoration: none;
            color: black;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin-bottom: 0.8em;
            cursor: pointer;
        }

        &__detail {
            width: 70%;
            text-transform: none;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.5em;
            white-space: nowrap;
            padding: 0.6em 0.2em 0.6em 0.2em;
            transition: width 2s;
        }

        input[type="checkbox"] {
            display: none;
        }

        &__icone i {
            opacity: 1;
            margin:auto;
        }

        &__icone {
            display: flex;
            align-self:stretch;
            width: 10%;
            transition: width 2s;
        }

        i {
            color:white;
            transform: rotate(180deg);
        }

        input[type="checkbox"]:checked ~ &__icone {
            width: 20%;
            background-color: $tretiary-color;
            border-radius:0px 10px 10px 0px;
        }

        input[type="checkbox"]:checked ~ &__icone i {
            transform: rotate(0deg);
            opacity: 1;
        }

        input[type="checkbox"]:checked ~ span:first-of-type {
            width: 55%;
        }
    }

    .validation_commande {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        #button_commander {
            margin: auto;
            @include button-submit
        }
    }
}
