#body_contact{
}

#main_menu {
    @media (min-width: 767px) {
        margin-top: 90px;
    }
}



#aside_menu {
    display: none;

    @media (min-width: 767px) {
        display: block;
        background-color: none;
    }

    .entreprise__fonctionnement {
        @media (min-width: 767px) {
            font-size: 0.8em;

            h1 {
                font-size: 1.65em;
            }

            ol {
                font-size: 1.15em;

                li{
                    margin-bottom:1em;
                }
            }
        }
    }
}


.menu {
    position: relative;
    z-index: 1;
    background: $background-color-light;
    padding-top: 2em;

    @media (min-width: 767px) {
        width: 59%;
        margin-left: 41%;
        padding-top: 0px;
        font-size: 0.75em;
    }

    > img {
        height: 260px;
        width: 100%;

        @media (min-width: 767px) {
            height: 300px;
        }
    }

    &__entete {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2.2em 2em 1em 1.9em;
        border-radius: 25px 25px 0px 0px;
        background: $background-color-light;
        position: relative;
        top: -35px;
        z-index: 2;

        &__titre {
            font-size: 1.4em;
        }

        &__label {
            @include ajout-favori
        }
    }

    &__formulaire {
        padding: 1em;
        background-color: $background-color-light;
        position: relative;
        top: -35px;
        display: flex;
        flex-direction: column;



        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            margin: auto;
            animation: affichageRalenti ease-in-out 2s;
        }

        hr {
            width: 10%;
            background: $tretiary-color;
            border: none;
            height: 2px;
            margin-left: 0em;
        }

        .contener_label {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            margin-bottom: 0.6em;

            label {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: stretch;
                text-transform: none;
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 10px;



                .menu__formulaire__input {
                    display: none;
                }

                .menu__formulaire__detail {
                    width: 80%;
                    max-width: 12em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: width 2s ease-out;

                    @media (min-width: 767px) {
                        max-width: 16em;
                    }
                }

                .menu__formulaire__detail__texte {
                    font-size: 1.2em;
                    margin: auto 0px auto 0.4em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .menu__formulaire__prix {
                    flex: 1;
                    margin-bottom: 0.8em;
                    text-align: center;
                    font-weight: 900;
                    align-self: flex-end;
                    transition: width 2s ease-out;
                }

                .menu__formulaire__icone {
                    height: 100%;
                    width: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 10px 10px 0px;
                    overflow: hidden;
                    background-color: aquamarine;
                    transition: width 2s ease-out;
                }

                .menu__formulaire__icone i {
                    color: white;
                    transform: rotate(0deg);
                    transition: transform 2s ease-in-out 500ms;
                }


                .menu__formulaire__input:checked ~ label {
                    justify-content: space-between;
                }

                .menu__formulaire__input:checked ~ .menu__formulaire__icone {
                    width: 25%;
                }

                .menu__formulaire__input:checked ~ .menu__formulaire__icone i {
                    transform: rotate(-360deg);
                }



                .menu__formulaire__input:checked ~ .menu__formulaire__detail {
                    width: 65%;
                }

                .menu__formulaire__input:checked ~ label .menu__formulaire__prix {
                    max-width: 4em;
                }
            }
        }
    }

    .validation_commande {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1.1em;
        align-content: center;
        margin-bottom: 1em;

        #button_commander {
            margin: auto;
            @include button-submit
        }
    }
}
